body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  margin: auto;
  margin-top: 50px;
  display: table;
}

.column {
  width: 50px;
  height: 50px;
  text-align: center;
  display: table-cell;
  border-style: ridge;
}

/* Clear floats after the columns */
.row {
  display: table-row;
  margin: 0px auto;
}

.buttonContainer {
  margin: auto;
  margin-top: 50px;
  display: table;
}

.buttonColumn {
  width: 50px;
  height: 50px;
  text-align: center;
  display: table-cell;
  border-style: ridge;
}

/* Clear floats after the columns */
.buttonRow {
  display: table-row;
  margin: 0px auto;
}
